/*@primary-color:#3458db;
@secondary-color:rgb(122, 90, 32);
@font-size:12px;
@margin:10px;


body{
   font-size: @font-size;
   margin: @margin;

}



// Nesting in LESS

.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;


   // nest h1

   h1{
      color: @primary-color;
      font-size: (@font-size * 2);
   }

   .button{
      display: inline-block;
      padding: 10px 20px;
      background-color: @primary-color;
      color: white;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
      font-size: 20px;

      &:hover{
         background-color: @secondary-color;
      }

   }
}*/
/*.button-styles{
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #007bff;
   color: #fff;
   border: none;
   cursor: pointer;
   text-decoration: none;
}

// use the mixin

.primary-button {
   .button-styles;
}

.secondary-button {
   .button-styles;
   background-color: aqua;
}*/
/*
// mixins with parameters

.box-shadow(@shadow){
   box-shadow: @shadow;
}


.button-styles(@bg-color, @text-color, @shadow){
   padding: 10px 20px;
   border-radius: 5px;
   background-color: @bg-color;
   color: @text-color;
   border: none;
   cursor: pointer;
   text-decoration: none;
   .box-shadow(@shadow)
}

.primary-button {
   .button-styles(#007bff, white, 0 4px rgba(0,0,0,0.1));
}

.secondary-button {
   .button-styles(aqua, #000, 0 4px rgba(0,0,0,0.1));
}

// FUNCTIONS IN LESS
// color-function

@base-color: #3458db;

.lighten-blue{
   background-color: lighten(@base-color, 20%);
 
}

.darken-blue{
   background-color: darken(@base-color, 20%);
   color: azure;
}

// mix-function

@color1:#124f7a;
@color2: #d40000;

.mix-colors{
   background-color: mix(@color1, @color2, 50%);
};

// math functions

@base-padding:40px;

.add-padding{
   padding: @base-padding + 50px;
   margin: @base-padding - 5px;
}


// list functions in less

@list:"item1", "item2", "item3";

.length-example{
   content: length(@list);
}
*/
.box,
.red-box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
.round,
.red-box {
  border-radius: 10px;
}
.red-box {
  background-color: red;
}
