@primary-color:grey;
@secondary-color:green;


body{
   background-color: @primary-color;
   color:@secondary-color;
   font-weight: 500;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}